body {
    font-family: "Arial", sans-serif;
    margin: auto
}

section {
    text-align: center;
}

header {
    border-bottom: 1px solid black;
}

header .title {
    background-color: #003c54;
    color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 2rem;
    line-height: 2rem;
}

header .title h1{
    margin: inherit;
    text-align: center;
    line-height: 2rem;
    font-size: 2rem;
}

header .title #about {
    margin-left: 1rem;
}

header .title #how-to-play {
    margin-right: 1rem;
}


header nav {
    display: grid;
    grid-template-columns: repeat(1, 6fr 1fr);
  }

header nav ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
  }

header nav ul#controls {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    justify-items: center;
}

header nav #nav-numbers {
    border-left: 1px solid #003c54;
}

header nav ul#numbers {
    display: grid;
    grid-template-rows: repeat(1,1fr);
    height: 100%;
    grid-template-rows: repeat(2, 50%)
}

header nav ul#numbers li {
    
    padding-left: 3px;
    padding-right: 3px;
    line-height: 2rem;
}

header nav ul#numbers li:nth-of-type(1) {
    border-bottom: 1px solid #003c54;
}
   

  
header nav li {
    display: inline-flex;
}

header nav li:focus-visible {
    border: none;
}

header nav ul#numbers li dd {
    margin-left: 5px;
}


header nav li:hover button:not([disabled]),
header nav li:focus button:not([disabled]),
header nav li:focus-within button:not([disabled]) {
  color: #003c54;
}


.nav-icon:hover,
.nav-icon:focus,
.nav-icon:focus-visible {
    transform: scale(1.3,1.3);
    transition: .5s;
}

header li button[disabled] {
    filter: opacity(.4);
  }

header button {
    background-color: transparent;
    border: 0px;
  }

.nav-text {
    display: block;
}

.nav-icon {
    display: block;
}

.nav-icon img {
    width: 3rem;
    height: 3rem;
}


#game-info {
    float: left; 
    width: 20%;
}


.text-button {
    border: none;
    color: white;
}


.game--container {
    display: grid;
    width: 80%;
    grid-template-columns: repeat(4, 1fr);
    margin: auto;
    row-gap: 1rem;
    column-gap: 3%;
    transition: 1s;
    z-index: -1;
  }

.extra-column {
    grid-template-columns: repeat(5, auto);
    column-gap: 1rem;
}


.extra-row {
    display: none;
    width: 90%;
    grid-template-columns: repeat(3, auto);
    margin: 30px auto;
    row-gap: 1rem;
    column-gap: 15%;
  }


.cell {
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    cursor: pointer;
    font-size: 10px;
    z-index: 0;
}



.card {
    width: 110px;
    min-height: 175px;
    max-height: 175px;
    border-radius: 20px;
    box-shadow: 3px 2px grey;
    border: 1px solid black;
    margin: auto;
    justify-content: center;
    align-content: center;
    transition: ease-out .2s;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    outline-style: none;
}

.card:focus-visible,
.card:focus,
.card:focus-within {
    border-color: #003c54;
    box-shadow: .5em .5em #003c54;
    outline: #003c54;
}

.card:focus {
    transition: all .3s;
}

.card.selected {
    box-shadow: -.5em .5em black;
    border: 4px solid black;
}

.card.selected:focus-visible,
.card.selected:focus,
.card.selected:focus-within {
    border-color: #003c54;
    box-shadow: -.75em .75em #003c54;
    outline: #003c54;
}


.card-vertical {
    width: 110px;
    height: 165px;
    border-radius: 20px;
    box-shadow: 3px 2px grey;
    border: 1px solid grey;
    background-color: white;
    margin: auto;
}

.cards-left {
    line-height: 50px;
    font-size: xx-large;
}

.controls {
    font-size: 12px;;
}


.Purple {
    border: none;
    stroke: #601a4a;
    stroke-width: 5px;
}

.Purple.Solid {
    fill: #601a4a;
}

.game--container.mono .Purple {
    stroke-dasharray: 2,2;
}

.Red {
    border: none;
    stroke: #EE442F;
    stroke-width: 5px;
}

.Red.Solid {
    fill: #EE442F;
}

.game--container.mono .Red {
    stroke-dasharray: 12,12;
}


.Green {
    border: none;
    stroke: #63ACBE;
    stroke-width: 5px;
}

.Green.Solid {
    fill: #63ACBE;
}

.shape {
    width: 55px;
    height: 70px;
    transform: rotate(90deg);
    z-index: 0;
}


.Empty {
    fill: white;
}

.card.Three .shape {
    margin-bottom: -12px;
    margin-top: -12px;
  }

.hidden {
    transform: scale(0);
}

#cbm-disabled {
    display: none;
}


.shake {
    -webkit-animation: shake 0.5s;
    animation: shake 0.5s;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); -webkit-transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-2deg);  -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(2deg);  -webkit-transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(-2deg);  -webkit-transform: translate(3px, 2px) rotate(-1deg); }
    40% { transform: translate(1px, -1px) rotate(2deg);  -webkit-transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-2deg);  -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg);  -webkit-transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-2deg);  -webkit-transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(2deg);  -webkit-transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg);  -webkit-transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-2deg);  -webkit-transform: translate(1px, -2px) rotate(-1deg); }
  }





  @media (max-width: 768px) {

    header nav {
        grid-template-columns: repeat(1, 6fr 3fr);
    }

    header .title {
        height: 1.5rem;
    }

    header .title h1 {
        line-height: 1.5rem;
        font-size: 1.5rem;
    }

    .game--container {
        width: 100%
    }
    .card {
        width: 66px;
        min-height: 110px;
        border-radius: 10px;
        box-shadow: 3px 2px grey;
        margin: auto;
        justify-content: center;
        align-content: center;
        transition: ease-out .5s;
        background-color: white;

    }

    .card.selected:focus-visible,
    .card.selected:focus,
    .card.selected:focus-within {
    border-color: #003c54;
    box-shadow: -.65em .65em #003c54;
    outline: #003c54;
    }

    .extra-column {
        grid-template-columns: repeat(3, auto);
        column-gap: 10%;
        row-gap: .75rem;
        height: calc(100vh - 3rem);
        grid-template-rows: repeat(5, fit-content(25%));
    }

    .extra-column .card {
        width: 56px;
        min-height: 90px;
    }

    .shape {
        width: 35px;
        height: 35px;
    }

    .card.Three .shape {
        margin-bottom: -5px;
        margin-top: -5px;
    }

    .nav-icon img {
        width: 2.5rem;
        height: 2.5rem;
    }

    .dialog-container,
    .dialog-overlay {
      top: 1.5rem !important;
    }

    .color-permalink input#permalink {
        width: 90% !important;
    }

    
}

@media (max-width: 400px) {
    .nav-icon img {
        width: 2rem;
        height: 2rem;
    }

    header nav ul#numbers li {
        font-size: .9rem;
        line-height: 1.5rem;
    }
}



@media  (max-width: 600px) {
   .not-on-small {
    display: none;
   }

   #color-picker ul {
    flex-direction: column;
   }

   #color-picker li {
    margin-top: .75rem;
   }
  }


/**
 * 1. Make the dialog container, and its child overlay spread across
 *    the entire window.
 */
 .dialog-container,
 .dialog-overlay {
   position: fixed; /* 1 */
   top: 2rem; /* 1 */
   right: 0; /* 1 */
   bottom: 0; /* 1 */
   left: 0; /* 1 */
 }
 
 /**
  * 1. Make sure the dialog container and all its descendants sits on
  *    top of the rest of the page.
  * 2. Make the dialog container a flex container to easily center the
  *    dialog.
  */
 .dialog-container {
   z-index: 200; /* 1 */
   display: flex; /* 2 */
 }
 
 /**
  * 1. Make sure the dialog container and all its descendants are not
  *    visible and not focusable when it is hidden.
  */
 .dialog-container[aria-hidden='true'] {
   display: none; /* 1 */
 }
 
 /**
  * 1. Make the overlay look like an overlay.
  */
#color-dialog .dialog-overlay {
   background-color: rgba(225, 225, 225, .6) /* 1 */
 }
 
 .dialog-overlay {
    background-color: rgba(225, 225, 225, .9) /* 1 */
  }
 /**
  * 1. Vertically and horizontally center the dialog in the page.
  * 2. Make sure the dialog sits on top of the overlay.
  * 3. Make sure the dialog has an opaque background.
  */
 .dialog-content {
    margin: 0 auto auto;
    z-index: 200;
    position: relative;
    background-color: #003c54;
    color: white;
    padding: 20px;
    width: 75%;
 }

 .dialog-content a {
     color: whitesmoke;
     text-decoration: underline;

}

 .dialog-content h1 {
    font-size: 1.3rem;
 }
 .dialog-content h2 {
     font-size: 1.2rem;
 }

 .dialog-content button {
    border: 1px solid #003c54;;
    color: white;
    border-radius: 5px;
    color: #003c54;
    background-color: white;
    padding: .5rem;
}

.dialog-content button.dialog-close {
    border: 1px solid white;
    color: #003c54;
    background-color: white;
    float: right;
}

.dialog-content button:hover,
.dialog-content button:focus {
    border: 1px solid #C7FFFF;
    background-color: #C7FFFF;
    color: black;

}

.dialog-content .preset-colors button {
    border-radius: 2px;
    padding: 4px;
    background-color: reset;
}


#hint-buttons {
    margin-top: 1rem;
}


#color-picker ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

#color-picker li {
    display: inline-flex;
}

.sr-only {
    height: 0;
    width: 0;
    position: absolute;
    left: -1000px
}


button.text-only {
    border: 0px;
    margin-left: 5px;
    background-color: transparent;
    color: white;
}

button.text-only:hover,
button.text-only:focus {
    border: 0px;
    color: #C7FFFF;
    background-color: transparent;
}

.color-permalink {
    float: left;
    width: 100%;
}

.color-permalink button {
    float: left;
    line-height: 1.4rem;
}

.color-permalink input#permalink {
    display: block;
    line-height: 1.4rem;
    padding: 1px;
    margin-left: 9px;
    margin-top: 2rem;
    width: 400px;
}

#permalink-value-wrapper {
    display: none;
}

#permalink-value-wrapper.show {
    display: block;
}

#c2c.success::after {
    content: " - Copied!";
    color: white;
}

#c2c.failure::after {
    content: " - There was a problem.";
    color: white;
}


#no-sets-no-hints {
    display: none;
}

#no-sets-no-hints.show {
    display: block;
}

