body {
    font-family: "Arial", sans-serif;
    background-color: #F9F4EC;
}

section {
    text-align: center;
}

header {
    border-bottom: 1px solid black;
}

#game-info {
    float: left; 
    width: 20%;
}

#board {
    float: left;
    width: 80%;
}

.game--container {
    display: grid;
    width: 90%;
    grid-template-columns: repeat(4, 1fr);
    margin: auto;
    row-gap: 30px;
    column-gap: 5%;
    transition: 1s;
}

.extra-column {
    grid-template-columns: repeat(5, auto);
    column-gap: 5%;
}


.extra-row {
    display: none;
    width: 90%;
    grid-template-columns: repeat(3, auto);
    margin: 30px auto;
    row-gap: 10%;
    column-gap: 15%;
  }


.cell {
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    cursor: pointer;
    font-size: 10px;
    margin-left: 15px;
}



.card {
    width: 110px;
    min-height: 175px;
    max-height: 175px;
    border-radius: 20px;
    box-shadow: 3px 2px grey;
    border: 1px solid white;
    margin: auto;
    justify-content: center;
    align-content: center;
    transition: ease-out .5s;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}

 
.card:focus {
    box-shadow: 6px 4px 6px 4px #999;
    border-color: #999;
}

.card.selected {
    box-shadow: 6px 4px 6px 4px #000;
    border-color: #000;
}

.card-vertical {
    width: 110px;
    height: 165px;
    border-radius: 20px;
    box-shadow: 3px 2px grey;
    border: 1px solid grey;
    background-color: white;
    margin: auto;
}

.cards-left {
    line-height: 50px;
    font-size: xx-large;
}

.controls {
    font-size: 12px;;
}


.Purple {
    border: none;
    stroke: #601a4a;
    stroke-width: 5px;
}

.Purple.Solid {
    fill: #601a4a;
}

.game--container.mono .Purple {
    stroke-dasharray: 2,2;
}

.Red {
    border: none;
    stroke: #EE442F;
    stroke-width: 5px;
}

.Red.Solid {
    fill: #EE442F;
}

.game--container.mono .Red {
    stroke-dasharray: 12,12;
}


.Green {
    border: none;
    stroke: #63ACBE;
    stroke-width: 5px;
}

.Green.Solid {
    fill: #63ACBE;
}

.shape {
    width: 50px;
    height: 70px;
    transform: rotate(90deg);
}


.Empty {
    fill: white;
}

.hidden {
    transform: scale(0);
}

#cbm-disabled {
    display: none;
}


.shake {
    animation: shake 0.5s;
    border-color: whitesmoke;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(90deg); }
    10% { transform: translate(-1px, -2px) rotate(89deg); }
    20% { transform: translate(-3px, 0px) rotate(91deg); }
    30% { transform: translate(3px, 2px) rotate(90deg); }
    40% { transform: translate(1px, -1px) rotate(91deg); }
    50% { transform: translate(-1px, 2px) rotate(89deg); }
    60% { transform: translate(-3px, 1px) rotate(90deg); }
    70% { transform: translate(3px, 1px) rotate(89deg); }
    80% { transform: translate(-1px, -1px) rotate(91deg); }
    90% { transform: translate(1px, 2px) rotate(90deg); }
    100% { transform: translate(1px, -2px) rotate(89deg); }
  }




  @media (max-width: 768px) {

    nav { 
        display: none;
    }

    #board {
        width: 90%;
    }
    .game--container {
        width: 100%
    }
    .card {
        width: 44px;
        min-height: 68px;
        border-radius: 10px;
        box-shadow: 3px 2px grey;
        border: 1px solid white;
        margin: auto;
        justify-content: center;
        align-content: center;
        transition: ease-out .5s;
        background-color: white;

    }

    .shape {
        width: 35px;
        height: 35px;
    }
}