body {
    font-family: "Arial", sans-serif;
    margin: auto
}

section {
    text-align: center;
}

header {
    border-bottom: 1px solid black;
}

header .title {
    background-color: #003c54;
    color: white;
    width: 100%;
    height: 50px;
}

header .title h1{
    margin: inherit;
    text-align: center;
    padding: 5px;
}


header nav {
    display: grid;
    grid-template-columns: repeat(1, 6fr 1fr);
  }

header nav ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
  }

header nav ul#controls {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 100%;
}

header nav #nav-numbers {
    border-left: 1px solid #003c54;
}

header nav ul#numbers {
    display: grid;
    grid-template-rows: repeat(1,1fr);
}

header nav ul#numbers li {
    
    padding-left: 3px;
    padding-right: 3px;
    line-height: 1.5rem;
}

header nav ul#numbers li:nth-of-type(1) {
    border-bottom: 1px solid #003c54;
}
   

  
header nav li {
    display: inline-flex;
}

header nav li:focus-visible {
    border: none;
}

header nav ul#numbers li dd {
    margin-left: 5px;
}


header nav li:hover button:not([disabled]),
header nav li:focus button:not([disabled]),
header nav li:focus-within button:not([disabled]) {
  color: #003c54;
}


.nav-icon:hover,
.nav-icon:focus,
.nav-icon:focus-visible {
    transform: scale(1.3,1.3);
}

header li button[disabled] {
    filter: opacity(.4);
  }

header button {
    background-color: transparent;
    border: 0px;
  }

.nav-text {
    display: block;
}

.nav-icon {
    display: block;
}

.nav-icon img {
    width: 3rem;
    height: 3rem;
}


#game-info {
    float: left; 
    width: 20%;
}



.game--container {
    display: grid;
    width: 80%;
    max-width: calc();
    grid-template-columns: repeat(4, 1fr);
    margin: auto;
    row-gap: 30px;
    column-gap: 5%;
    transition: 1s;
    z-index: -1;
}

.extra-column {
    grid-template-columns: repeat(5, auto);
    column-gap: 10%;
}


.extra-row {
    display: none;
    width: 90%;
    grid-template-columns: repeat(3, auto);
    margin: 30px auto;
    row-gap: 10%;
    column-gap: 15%;
  }


.cell {
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    cursor: pointer;
    font-size: 10px;
    z-index: 0;
}



.card {
    width: 110px;
    min-height: 175px;
    max-height: 175px;
    border-radius: 20px;
    box-shadow: 3px 2px grey;
    border: 1px solid black;
    margin: auto;
    justify-content: center;
    align-content: center;
    transition: ease-out .2s;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}

.card:focus-visible,
.card:focus,
.card:focus-within {
    border-color: #003c54;
    box-shadow: .5em .5em #003c54;
    outline: #003c54;
}

.card:focus {
    transition: all .2;
}

.card.selected {
    box-shadow: -.5em .5em black;
    border: 4px solid black;
}

.card.selected:focus-visible,
.card.selected:focus,
.card.selected:focus-within {
    border-color: #003c54;
    box-shadow: -.75em .75em #003c54;
    outline: #003c54;
}


.card-vertical {
    width: 110px;
    height: 165px;
    border-radius: 20px;
    box-shadow: 3px 2px grey;
    border: 1px solid grey;
    background-color: white;
    margin: auto;
}

.cards-left {
    line-height: 50px;
    font-size: xx-large;
}

.controls {
    font-size: 12px;;
}


.Purple {
    border: none;
    stroke: #601a4a;
    stroke-width: 5px;
}

.Purple.Solid {
    fill: #601a4a;
}

.game--container.mono .Purple {
    stroke-dasharray: 2,2;
}

.Red {
    border: none;
    stroke: #EE442F;
    stroke-width: 5px;
}

.Red.Solid {
    fill: #EE442F;
}

.game--container.mono .Red {
    stroke-dasharray: 12,12;
}


.Green {
    border: none;
    stroke: #63ACBE;
    stroke-width: 5px;
}

.Green.Solid {
    fill: #63ACBE;
}

.shape {
    width: 55px;
    height: 70px;
    transform: rotate(90deg);
    z-index: 0;
}


.Empty {
    fill: white;
}

.card.Three .shape {
    margin-bottom: -12px;
    margin-top: -12px;
  }

.hidden {
    transform: scale(0);
}

#cbm-disabled {
    display: none;
}


.shake {
    animation: shake 0.5s;
    border-color: whitesmoke;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(-1deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }





  @media (max-width: 768px) {

    header nav {
        grid-template-columns: repeat(1, 6fr 3fr);
    }

    .game--container {
        width: 100%
    }
    .card {
        width: 66px;
        min-height: 110px;
        border-radius: 10px;
        box-shadow: 3px 2px grey;
        margin: auto;
        justify-content: center;
        align-content: center;
        transition: ease-out .5s;
        background-color: white;

    }

    .card.selected:focus-visible,
    .card.selected:focus,
    .card.selected:focus-within {
    border-color: #003c54;
    box-shadow: -.65em .65em #003c54;
    outline: #003c54;
}

    .extra-column {
        grid-template-columns: repeat(3, auto);
        column-gap: 10%;
    }

    .extra-column .card {
        width: 56px;
        min-height: 90px;
    }

    .shape {
        width: 35px;
        height: 35px;
    }

    .card.Three .shape {
        margin-bottom: -5px;
        margin-top: -5px;
      }

      .nav-icon img {
        width: 2.5rem;
        height: 2.5rem;
    }

    
}

@media (max-width: 400px) {
    .nav-icon img {
        width: 2rem;
        height: 2rem;
    }

    header nav ul#numbers li {
        font-size: .9rem;
    }

    
}



/**
 * 1. Make the dialog container, and its child overlay spread across
 *    the entire window.
 */
 .dialog-container,
 .dialog-overlay {
   position: fixed; /* 1 */
   top: 50px; /* 1 */
   right: 0; /* 1 */
   bottom: 0; /* 1 */
   left: 0; /* 1 */
 }
 
 /**
  * 1. Make sure the dialog container and all its descendants sits on
  *    top of the rest of the page.
  * 2. Make the dialog container a flex container to easily center the
  *    dialog.
  */
 .dialog-container {
   z-index: 2; /* 1 */
   display: flex; /* 2 */
 }
 
 /**
  * 1. Make sure the dialog container and all its descendants are not
  *    visible and not focusable when it is hidden.
  */
 .dialog-container[aria-hidden='true'] {
   display: none; /* 1 */
 }
 
 /**
  * 1. Make the overlay look like an overlay.
  */
#color-dialog .dialog-overlay {
   background-color: rgba(225, 225, 225, .6) /* 1 */
 }
 
 .dialog-overlay {
    background-color: rgba(225, 225, 225, .9) /* 1 */
  }
 /**
  * 1. Vertically and horizontally center the dialog in the page.
  * 2. Make sure the dialog sits on top of the overlay.
  * 3. Make sure the dialog has an opaque background.
  */
 .dialog-content {
    margin: 0 auto auto;
    z-index: 2;
    position: relative;
    background-color: #003c54;
    color: white;
    padding: 20px;
    width: 75%;
 }

 .dialog-content a {
     color: whitesmoke;
     text-decoration: underline;

}

 .dialog-content h1 {
    font-size: 1.3rem;
 }
 .dialog-content h2 {
     font-size: 1.2rem;
 }

 .dialog-content button {
    color: white;
    border-radius: 5px;
    border: 1px solid white;
    background-color: transparent;
    float: right;
}

.dialog-content .preset-colors button {
    border-radius: 2px;
    padding: 4px;
    background-color: reset;
}


#color-picker ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

#color-picker li {
    display: inline-flex;
}

.sr-only {
    height: 0;
    width: 0;
    position: absolute;
    left: -1000px
}


/* Tooltip stuff */

[data-tooltip] {
  position: relative;
}

[data-tooltip]::after {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  content: attr(data-tooltip);
  left: -3rem;
  top: calc(100% );
  border-radius: 3px;
  box-shadow: 0 0 5px 2px rgba(100, 100, 100, 0.6);
  background-color: #003c54;
  color: #fff;
  padding: 8px;
  width: fit-content;
  min-width: 6rem;
  transform: translateY(-20px);
  transition: all 150ms cubic-bezier(.25, .8, .25, 1);
}

[data-tooltip]:nth-of-type(1)::after {
    left: 1rem !important;
}

[data-tooltip]:not([disabled]):hover::after,
[data-tooltip]:not([disabled]):focus::after {
  opacity: 1;
  transform: translateY(0);
  transition-duration: 300ms;
  z-index: 500;
}


